*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    grid-area: menu;
}
.nav-item{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5vw;
    margin-left: 15px;
}
/*FOOTER*/
footer{
    background-color: rgb(252, 252, 252);
    grid-area: footer;
}
.textoFooter{
    margin-bottom: 15px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}
.redSocial{
   width: 2em;
   height: 2em; 
}
.logo{
    width: 5vw;
   height: 4vw;
}
/*DESKTOP INDEX */
.gridIndex{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: "menu     menu      menu      menu"
                        "principal principal principal principal"
                        "productos productos productos productos"
                        "footer    footer    footer    footer"  ;

    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
#sectionIndex{
    grid-area: principal;
    margin: 5px;
}
.imagenHome{
    width: 97.5vw;
    height: 55vw;
}
.contenedorH1Index{
    margin: auto;
    display: table;
}
.tituloHome{
    font-size: 3vw;
    font-family: 'Rajdhani', sans-serif;
    float: left;
    color: black;
    position: relative;
}
h1 span{
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #000;
    background: white;
    animation: maquina 4s infinite alternate steps(19),
                parpadeo 0.4s;
}
@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
@keyframes parpadeo{
    100%{
        border-color: transparent;
    }
}
.AsideIndex{
    grid-area: productos;
    margin: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2vw;
    height: 20vwvw;
}
.productoAside{
    background-color: rgb(227, 222, 203);
    width: 28vw;
    height: auto;
    margin: 0.5vw;
    border-radius: 8%;
    margin-bottom: 10px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}
.productoAside:hover{
    --escala: 1.2;
    cursor:pointer;
}
.tituloProductosAside{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;
    margin-top: 1vw;
}
.imagenProductosAside{
    width: 15vw;
    height: 10vw;
    margin-left: 18px;
    margin-right: 15px;
    border-radius: 8%;
    float: left;
}
.textoProductoAside{
    margin: 1em;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-align: left;
}
/* TABLET INDEX*/
@media screen and (max-width:920px){
    .gridIndex{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "menu      menu      menu"
                             "principal principal principal"
                             "productos productos productos"
                             "footer    footer    footer";
    }
    .tituloHome{
        font-size: 5vw;
    }
    .AsideIndex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .productoAside{
        width: 80%;
        height: 70%;
        margin-left: 10vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .contenedorProductoAside{
        display: flex;
        flex-direction: row;
    }
    .imagenProductosAside{
        margin-top: 6%;
        margin-bottom: 6%;
        width: 250px;
        height: 200px;
    }
    .tituloProductosAside{
        font-size: 4vw;
    }
}
/*MOBILE INDEX */
@media screen and (max-width:500px) {
    .gridIndex{
        grid-template-columns: 1fr;
        grid-auto-rows: auto 1fr;
        grid-template-areas: "menu"
                             "principal"
                             "productos"
                             "footer";
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .contenedorImagenHome{
        width: 100%;
        height: 100%;
    }
    .AsideIndex{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .productoAside{
        width: 60%;
        height: 500%;
        margin-left: 20%; /*CON ESTE CENTRE LAS CAJAS DE PRODUCTOS EN MOBILE */
        margin-top: 3vw;
        margin-bottom: 3vw;
    }
    .imagenProductosAside{
        width: 40vw;
        height: 25vw;
        margin-left: 10vw;
        margin-bottom: 2%;
        margin-top: 1vw;
    }
    .textoProductoAside{
        font-size: 3vw;
        text-align: center;
    }
    .nav-item{
        font-size: 3vw;
    }
    .tituloHome{
        font-size: 7vw;
    }
    .contenedorProductoAside{
        display: flex;
        flex-direction: column;
    }
    .tituloProductosAside{
        font-size: 5vw;
    }
}

/*SECCION CAFÉ*/
/*Desktop*/
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "menu"
                         "cafe"
                         "footer"  ;

    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.sectionCafe{
    grid-area: cafe;
}
.cafePadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedorHijoCafe{
    position: relative;
    width: 18vw;
    height: 25vw;
    margin:3vw;
    border-bottom-style: solid;
    border-color: rgb(211, 207, 207);
}
/*ANIMACION CAFE*/

.contenedorHijoCafe .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}
.contenedorHijoCafe .front{
    transform: perspective(600px) rotateY(0deg);
}
.contenedorHijoCafe .back{
    transform: perspective(600px) rotateY(180deg);
    background: #ffdec7;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: 0 5px 10px #000;
}
.contenedorHijoCafe .back .subtituloSecCafe{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(101, 100, 100);
}
.contenedorHijoCafe .back .textoBack{
    letter-spacing: 1px;
    margin: 1.5vw;
    font-size: 1vw;
}
.contenedorHijoCafe:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.contenedorHijoCafe:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.subtituloSecCafe{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    font-size: 1.6vw;
}
.imagenCafe{
    width: 15vw;
    height: 17vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}
.tituloCafe{
    font-family: 'Rajdhani', sans-serif;
    margin-left: 2vw;
}

/*Tablet Cafe*/
@media screen and (max-width:920px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "menu"
                             "cafe"
                             "cafe"
                             "footer"  ;
    }
    .cafePadre{
        margin-left: 10%;
        margin-right: 10%;
    }
    .subtituloSecCafe{
        font-size: 2.5vw;
    }
    .contenedorHijoCafe{
        width: 30vw;
        height: 37vw;
    }
    .imagenCafe{
        width: 22vw;
        height: 25vw;
        margin-left: 3.5vw;
        margin-bottom: 0;
        margin-top: 1.5vw;
    }
    .contenedorHijoCafe .back .subtituloSecCafe{
        font-size: 2.5vw;

    }
    .contenedorHijoCafe .back .textoBack{
        font-size: 1.8vw;
    }

}
/* Mobile Cafe*/
@media screen and (max-width:500px){
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "menu"
                             "cafe"
                             "cafe"
                             "footer"  ;
    }
    .cafePadre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contenedorHijoCafe{
        width: 70vw;
        height: 70vw;
        border-bottom-style: solid;
        border-color: rgb(211, 207, 207);
        margin: 3vw;
    }
    .subtituloSecCafe{
        font-size: 5vw;
        text-align: center;
    }
    .imagenCafe{
        width: 40vw;
        height: 45vw;
        margin-left: 15vw;
    }
    .contenedorHijoCafe .back .subtituloSecCafe{
        font-size: 4.5vw;
        margin: 2vw;

    }
    .contenedorHijoCafe .back .textoBack{
        font-size: 3.5vw;
        margin: 4vw;
    }
}

/*SECCION TIENDA*/
/*Desktop Tienda*/
.gridTienda{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "menu"
                         "tienda"
                         "footer"  ;

    grid-column-gap: 5px;
    grid-row-gap: 5px;

}
.sectionTienda{
    grid-area: tienda;
}  
.contenedorPadreTienda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 2%;
}
.tituloTienda{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 3%;
}
.contenedorHijoTienda{
    width: 18vw;
    height: 27vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
}
.imagenTienda{
    width: 13vw;
    height: 13vw;
    margin-left: 2.5vw;
}
.contenedorH2Tienda{
    width: 12vw;
    height: 3vw;
    margin-top: 10px;
    margin-left: 3vw;
}
.contenedorHijoTienda h2{
    font-size: 1.3VW;
    text-align: center;
    margin-top: 5px;
}
.contenedorH3Tienda{
    width: 100%;
    height: 3vw;
    margin-left: 1.7vw;
}
.contenedorH3Tienda h3{
    font-size: 2vw;
    text-align: center;
    background-color: #caddd9;
    font-weight: bold;
    width: 4vw;
    height: 2vw;
    margin-left: 6vw;
    margin-top: 1.5vw;
    border-radius:100px 5px; /*2° número es lo redondeado de 2 puntas*/
}
.contenedorBotones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 1.5vw;
    width: 100%;
    height: 2.5vw;
}
.buttonAgregarCarrito{
    background-color: #fde2da;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #f8cbad;
    width: 10vw;
    font-size: 1.3vw;
}
.contenedorBotones button:active{
    background:  rgb(148, 147, 147);
    transition: all 200ms ease-in-out; /*Esto hace que cuando se hace click en el boton cambie gradualmente el color,y no de una*/
}
.stepper-input{
    position: absolute;
    width: 6vw;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.05);
    overflow: hidden;
    position:relative;/*Este hizo que los botones de +y- se posicione al lado del boton COMPRAR*/
}
.stepper-input input{
    display: none;
}
.stepper-input .input{
    width: 100%;
    height: 100%;
    display: flex;
}
.stepper-input .input button{
    width: 2vw;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    color: #222;
    font-size: 2vw;
    cursor: pointer;
    border: none;
    transition: all 300ms ease-in-out;
}
.stepper-input .input button:active{
    background: rgb(148, 147, 147);
}
.stepper-input .input .range{
    flex: 1;
    text-align: center;
    overflow:hidden;
}
/*.stepper-input .input .range .list span{      ESTABA EN EL CODIGO DEL VIDEO DONDE SAQUE EL CONTADOR
    display: block;                             LO COMENTÉ Y NO AFECTO A LA PAGINA.
    width: 100%;                                LO DEJO POR SI ES PARA JAVASCRIP
    height: 80px;
    color: #222;
    font-size: 2vw;
    line-height: 80px;
}*/
.list{ /*ESTE ES PROVISORIO HASTA AGREGAR EL JAVASCRIP, ES PARA QUE SE VEA EL 1 EN CANTIDAD (FACHADA)*/
    margin-top: 4px;
    font-size: 1.3vw;
}
/* Tablet Tienda*/
@media screen and (max-width:920px){
    .contenedorHijoTienda{
        width: 30vw;
        height: 40vw;
    }
    .imagenTienda{
        margin-left: 8vw;
        width: 15vw;
        height: 20vw;
    }
    .contenedorH2Tienda{
        height: 2.5vw;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    .contenedorH2Tienda h2{
        font-size: 2vw;
    }
    .contenedorH3Tienda h3{
        margin-left: 11vw;
        font-size: 2.8vw;
        height: 3vw;
        width: 5vw;
    }
    .contenedorBotones{
        margin-left: 4.5vw;
        margin-top: 1vw;
        width: 100%;
        height: 4vw;
    }
    .buttonAgregarCarrito{
        padding: 0;
        font-size: 1.8vw;
        width: 14vw;
    }
    .stepper-input{
        width: 10vw;
    }
    .stepper-input .input button{
        width: 3vw;
        font-size: 3vw;
    }
    .list{ /* EL PROVISORIO QUE PUDE PARA EL 1 DE CANTIDADES*/
        margin-top: 1vw;
        font-size: 1.8vw;
    }
}
/*Mobile Tienda*/
@media screen and (max-width:500px){
    .contenedorPadreTienda{
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .contenedorHijoTienda{
        width: 100%;
        height: 70vw;
        margin-left: 0;
        margin-right: 0;
    }
    .imagenTienda{
        width: 35vw;
        height: 40vw;
        margin-left: 30vw;
        margin-right: 30vw;
    }
    .contenedorH2Tienda{
        width: 100%;
        height: 5vw;
    }
    .contenedorHijoTienda h2{
        font-size: 4.5vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    .contenedorH3Tienda{
        height: 6vw;
        margin-left: 0;
    }
    .contenedorH3Tienda h3{
        font-size: 5vw;
        width: 9vw;
        height: 5vw;
        margin-left: 45%;
        margin-right: 45%;
    }
    .contenedorBotones{
        margin-left: 0;
        height: 8vw;
        margin-top: 2vw;
    }
    .buttonAgregarCarrito{
        width: 30vw;
        height: 8vw;
        font-size: 4vw;
        margin-left: 28%;
    }
    .stepper-input{
        width: 18vw;
    }
    .stepper-input .input button{
        width: 6vw;
        height: 100%;
        font-size: 5vw;
    }
}

/**SECCION TRABAJA CON NOSOTROS**/
/*Desktop Trabaja con Nosotros*/
.gridTrabajaConNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "menu"
                        "sectionTrabaja"
                        "footer";

    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.sectionTrabajaConNosotros{
    grid-area: sectionTrabaja;
    height: 112vw;
}
.contenedorPadreTrabaja{
    width: 100%;
    height: 80vw;
    position: relative;
}
.imgTrabajaConNosotros{
    width: 100%;
    height: 60vw;
}
.tituloTrabajaConNosotros{
    position: absolute;
    top: 50%;
    left: 18%;
    color: white;
}
.tituloTrabajaConNosotros h1{
    font-size: 7vw;
    font-family:'Franklin Gothic Medium';
}
.contenedorFormTrabajaConNosotro{
    background-color:#fde2da;
    border-radius: 10px;
    width: 80vw;
    height: auto;
    position: absolute;
    top: 60%;
    left: 10%;
}
.contenedorFormTrabajaConNosotro h2{
    color: white;
    margin-left: 22vw;
    margin-top: 0.3vw;
    margin-bottom: 2vw;
    font-family:'Franklin Gothic Medium';
    font-size: 3.5vw;
}
.padreFormulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-family:'Franklin Medium';
    font-size: 1.3vw;
    color: rgb(89, 87, 87);
}
.contenedorNombreFormulario{
    margin-left: 8%;
}
.inputNombreFormulario{
    width: 21vw;
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
}
.contenedorApellidoFormulario{
    margin-left: 4%;
}
.inputApellidoFormulario{
    width: 21vw;
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
}
.contenedorFechaNacimientoFormulario{
    margin-left: 5%;
    width: 20vw;
}
.contenedorDocumentoFormulario{
    margin-left: 8%;
    margin-top: 2%;
    width: 20vw;
}
.numeroDocumentoFormulario{
    margin-left: 1vw;
}
.inputDocumento{
    width: 10vw;
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
}
.contenedorEmailFormulario{
    margin-top: 2%;
    margin-left: 5%;
}
.inputEmail{
    width: 21vw;
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
}
.contenedorTelefonoFormulario{
    margin-top: 2%;
    margin-left: 4vw;
    width: 14vw;
}
.inputTelefeno{
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
}
select{
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
    color: rgb(89, 87, 87);
}
.contenedorInputCurriculum{
    margin-left: 14%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 100%;
}
.contenedorInputCurriculum input{
    width: 14vw;
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    color: rgb(89, 87, 87);
}
.buttonSeleccionarArchivo{
    margin-right: 7vw;
    border-radius: 6px;
    border: 1.5px solid rgb(155, 150, 150) ;
    color: rgb(89, 87, 87);
    width: 13vw;
}
.contenedorInputCurriculum input:hover{
    background-color: rgb(158, 153, 153);
    color: black;
}
.textoFormularioTrabaja{
    width: 100%;
    height: auto;
    background-image: radial-gradient(#A4BFC6,white);
    top: 75vw;
    font-family:'Franklin Medium';
    font-size: 2vw;
    text-align: center;
    letter-spacing: 2px;
}
.textoFormularioTrabaja p{
    margin-left: 27%;
    margin-right: 27%;
}
/*Tablet Trabaja con Nosotros*/
@media screen and (max-width:950px) {
    .padreFormulario{
        font-size: 1.8vw;
    }
    .contenedorNombreFormulario{
        width: 30vw;
        margin-left: 7vw;
    }
    .inputNombreFormulario{
        width: 30vw;
    }
    .contenedorApellidoFormulario{
        margin-right: 5vw;
        margin-left: 5vw;
        width: 30vw;
    }
    .inputApellidoFormulario{
        width: 30vw;
    }
    .contenedorFechaNacimientoFormulario{
        margin-left: 7vw;
        margin-top: 2vw;
        width: 35vw;
    }
    .contenedorDocumentoFormulario{
        margin-left: 0;
        margin-top: 0;
        margin-top: 2vw;
        width: 35vw;
    }
    .numeroDocumentoFormulario{
        margin-left: 0;
    }
    .inputDocumento{
        width: 16.5vw;
    }
    .contenedorEmailFormulario{
        margin-top: 2vw;
        margin-left: 7vw;
        width: 35vw;
    }
    .inputEmail{
        width: 30vw;
    }
    .contenedorTelefonoFormulario{
        margin-top: 2vw;
        margin-left: 0;
        width: 30vw;
    }
    .contenedorInputCurriculum{
        margin-left: 7vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        width: 100%;
    }
    .contenedorInputCurriculum input{
        width: 17vw;
        margin-top: 0;
        margin-left: 0;
    }
    .buttonSeleccionarArchivo{
        margin-right: 8vw;
        width: 17vw;
    }
    .tituloTrabajaConNosotros{
        top: 40%;
    }
    .contenedorFormTrabajaConNosotro{
        top: 50%;
    }
    .redSocial{
        width: 4vw;
        height: 4vw; 
     }
     .logo{
        width: 9vw;
       height: 8vw;
    }
    .textoFooter{
        font-size: 1.5vw;
    }
}
/*Mobile Trabaja con Nosotros*/
@media screen and (max-width:500px){
    .padreFormulario{
        font-size: 3vw;
    }
    .contenedorNombreFormulario{
        width: 100%;
        margin-left: 10vw;
    }
    .inputNombreFormulario{
        width: 60vw;
    }
    .contenedorApellidoFormulario{
        width: 100%;
        margin-right: 0;
        margin-left: 10vw;
        margin-top: 1vw;
    }
    .inputApellidoFormulario{
        width: 60vw;
    }
    .contenedorFechaNacimientoFormulario{
        margin-left: 10vw;
        margin-top: 1vw;
        width: 100%;
    }
    select{
        width: 19vw;
    }
    .contenedorDocumentoFormulario{
        margin-left: 10vw;
        margin-top: 1vw;
        width: 100%;
    }
    .numeroDocumentoFormulario{
        margin-left: 4vw;
    }
    .inputDocumento{
        width: 30vw;
    }
    .contenedorEmailFormulario{
        margin-top: 1vw;
        margin-left: 10vw;
        width: 100%;
    }
    .inputEmail{
        width: 60vw;
    }
    .contenedorTelefonoFormulario{
        margin-top: 1vw;
        margin-left: 10vw;
        width: 40vw;
    }
    .contenedorInputCurriculum{
        margin-left: 10vw;
        margin-top: 3vw;
        margin-bottom: 5vw;
    }
    .contenedorInputCurriculum input{
        width: 28vw;
        margin-top: 3vw;
        margin-left: 0;
    }
    .buttonSeleccionarArchivo{
        margin-right: 10vw;
        width: 28vw;
    }

    .contenedorPadreTrabaja{
        height: 130vw;
    }
    .tituloTrabajaConNosotros{
        top: 22%;
    }
    .contenedorFormTrabajaConNosotro{
        width: 80vw;
        top: 29%;
    }
    .sectionTrabajaConNosotros{
        height: 180vw;
    }
    .textoFormularioTrabaja{
        top: 75vw;
        font-size: 3vw;
    }
    .textoFormularioTrabaja p{
        margin-left: 20%;
        margin-right: 20%;
    }
    .redSocial{
        width: 5vw;
        height: 5vw; 
     }
     .logo{
        width: 12vw;
       height: 10vw;
    }
    .textoFooter{
        font-size: 2.5vw;
    }
}
/*SECCION CONTACTO*/
/*Desktop Contacto*/
.gridContacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "menu"
                        "contacto"
                        "footer";

    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.contenedorPrincipalContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vw;
}
.contenedorDatosContacto{
    width: 40vw;
    height: 50vw;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-size: 1.3vw;
    margin-left: 8vw;
}
.contenedorDatosContacto h1{
    margin-top: 8vw;
    font-size: 3vw;
}
.contenedorMapaContacto{
    width: 50vw;
    height: 50vw;
}
.mapaContacto{
    width: 50%;
    height: 20vw;
    border-radius: 10px;
    margin-top: 7vw;
    margin-left: 2vw;
}

/*SECCION CONTACTO*/
/*Tablet Contacto*/
@media screen and (max-width:950px){
    .gridContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "menu"
                            "contacto"
                            "footer";
    
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .contenedorPrincipalContacto{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 4vw;
        height: 50vw;
    }
    .contenedorDatosContacto{
        width: 40vw;
        height: 40vw;
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
    }
    .contenedorDatosContacto h1{
        font-size: 4vw;
        margin-top: 3vw;
    }
    .contenedorDatosContacto p{
        font-size: 2.5vw;
    }
    .contenedorMapaContacto{
        width: 50vw;
        height: 40vw;
    }
    .mapaContacto{
        width: 90%;
        height: 35vw;
        border-radius: 10px;
        margin-top: 2vw;
        margin-left: 2vw;
    }
}
/*Seccion Contacto*/
/* Mobile*/
@media screen and (max-width:500px){
    .gridContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "menu"
                            "contacto"
                            "footer";
    
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .contenedorPrincipalContacto{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 140vw;
    }
    .principalContacto{
        grid-area: contacto;
        height: 150vw;
    }
    .contenedorDatosContacto{
        width: 100%;
        height: 60vw;
        margin-bottom: 5vw;
        font-family: 'Rajdhani', sans-serif;
        text-align: center;
    }
    .contenedorDatosContacto h1{
        margin-top: 2vw;
        font-size: 6vw;
    }
    .contenedorDatosContacto p{
        margin-left: 0;
        margin-right: 8vw;
        margin-top: 5vw;
        font-size: 4vw;
    }
    .contenedorMapaContacto{
        width: 90vw;
        height: 70vw;
        margin-bottom: 3vw;
        margin-left: 7vw;
    }
    .mapaContacto{
        width: 80%;
        height: 70vw;
        border-radius: 10px;
        margin-left: 12vw;
    }
}


